img {
  width: 100%;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;

  .carouselTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }

  .carouselItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;

    .coverTrack {
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      background-color: #555555;
    }

    h3 {
      margin: 10px 0;
    }

    p {
      margin: 0;
    }
  }

  button {
    &.prev,
    &.next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #555555;
      color: white;
      border: none;
      padding: 0.5em;
      z-index: 10;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #090909;
      }
    }

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}

// Media query pour masquer le carousel
@media (max-width: 768px) {
  .carousel {
    display: none;
  }
}
