footer {
  nav {
    background-color: #0a0a0a;
    height: 10vh;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      li {
        margin: 0 20px;

        .adminButton {
          background-color: red;
          color: white;
          padding: 10%;
          font-weight: bold;
        }
      }
    }
  }
}