* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #0a0a0a;
  height: 10vh;
  margin-bottom: 40px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul img {
  width: 30%;
}
ul a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#userNavBar {
  justify-content: space-around;
}

#title {
  color: white;
  font-size: 40px;
  text-align: center;
}

#usernameHeader {
  font-size: 30px;
}

#usernameHeader:hover {
  color: rgb(255, 114, 0);
}

#signInButtonHeader {
  font-size: 20px;
  padding: 5px;
  background-color: #ff6a00;
  border: none;
  border-radius: 10px;
}

main {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
}

footer nav {
  background-color: #0a0a0a;
  height: 10vh;
}
footer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer nav ul li {
  margin: 0 20px;
}
footer nav ul li .adminButton {
  background-color: red;
  color: white;
  padding: 10%;
  font-weight: bold;
}

#sectionHome {
  height: 100vh;
  margin-bottom: 50px;
}
#sectionHome h2 {
  text-align: center;
  font-weight: normal;
  font-size: 70px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
}

#searchBar {
  text-align: center;
  margin-bottom: 40px;
}
#searchBar #searchBarInput {
  width: 40%;
  border: none;
  border-radius: 15px;
  background-color: rgba(153, 153, 153, 0.38);
  font-size: 30px;
  text-align: center;
}

#articleHome {
  background-color: #0a0a0a;
  height: 100vh;
}
#articleHome h2 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 70px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: center;
}

#signInButtonMain {
  margin-top: 40px;
  font-size: 40px;
  padding: 10px;
  background-color: #ff6a00;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
}

.trackLibraryContainer {
  margin-top: 20px;
  width: 30%;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #ff6a00;
  justify-content: center;
  text-align: center;
}
.trackLibraryContainer a {
  text-decoration: none;
  color: white;
}

.showPlayButton {
  border: none;
  border-radius: 20px;
  background-color: orangered;
  padding: 10px;
  color: white;
  justify-content: center;
}

.userTracksFlex {
  display: flex;
}

#waveform {
  background: linear-gradient(45deg, rgba(52, 52, 52, 0.8), rgb(63, 63, 63));
  backdrop-filter: blur(30px);
  border: solid 2px #090909;
  margin-bottom: 20px;
}

#showTrackTitle {
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.commentsContainer {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  background-color: #181818;
  color: white;
}
.commentsContainer .addCommentContainer {
  padding: 20px;
  border: solid 2px white;
}
.commentsContainer .addCommentContainer h2 {
  text-align: center;
}
.commentsContainer .listCommentsContainer {
  padding: 20px;
  border: solid 2px white;
}
.commentsContainer .listCommentsContainer h2 {
  text-align: center;
}
.commentsContainer .listCommentsContainer ul {
  margin-bottom: 30px;
}

.createTrackContainer {
  background-color: #181818;
  color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.createTrackContainer h1 {
  margin-bottom: 40px;
}

.form-control {
  width: 200px;
  padding: 5px;
  margin-bottom: 40px;
}

.form-select {
  width: 200px;
}

.btn-primary {
  margin-top: 40px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 2px;
  width: 200px;
  padding: 10px;
}

.profileContainer {
  background-color: #181818;
  color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.profileContainer h1 {
  margin-bottom: 40px;
}
.profileContainer ul li {
  list-style-type: none;
}
.profileContainer h2 {
  margin-bottom: 40px;
}

#listUserTracks {
  background-color: orangered;
  border: none;
  border-radius: 2px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.userTracksContainer {
  background-color: #181818;
  margin: 20px;
  padding: 20px;
  color: white;
}
.userTracksContainer h1 {
  margin-bottom: 40px;
  text-align: center;
}
.userTracksContainer .userTracksFlex {
  display: flex;
  wrap-option: wrap;
}
.userTracksContainer .userTracksFlex .trackBox {
  background-color: #555555;
  margin-left: 20px;
  padding: 20px;
}
.userTracksContainer .userTracksFlex .trackBox .trackSettings {
  background-color: white;
  color: #090909;
  padding: 20px;
}
.userTracksContainer .userTracksFlex .trackBox .trackSettings a {
  text-decoration: none;
  color: #090909;
}
.userTracksContainer .userTracksFlex .trackBox .trackSettings .btn-primary {
  background: none;
  color: #090909;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel .carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
.carousel .carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}
.carousel .carouselItem .cover {
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  background-color: #555555;
}
.carousel button.prev, .carousel button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #555555;
  color: white;
  border: none;
  padding: 0.5em;
  z-index: 10;
}
.carousel button.prev:hover, .carousel button.next:hover {
  background: #090909;
}
.carousel button.prev {
  left: 0;
}
.carousel button.next {
  right: 0;
}

/*# sourceMappingURL=style.css.map */
