.createTrackContainer {
  background-color: #181818;
  color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;

  h1 {
    margin-bottom: 40px;
  }

}

.form-control {
  width: 200px;
  padding: 5px;
  margin-bottom: 40px;
}

.form-select {
  width: 200px;

}

.btn-primary {
  margin-top: 40px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 2px;
  width: 200px;
  padding: 10px;
}