h1{
  text-align: center;
  margin-bottom: 5%;
}

.searchContainer{
  margin: 20px;
  display: flex;
  gap: 10%;
  text-align: center;


}

.trackSearchBox{
  background-color: darkgrey;
  width: 100%;
  flex-wrap: wrap;

}

.trackGenresBox{
  display: flex;
  justify-content: center;
  wrap-option: wrap;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 20%;
}

.playButton{
  text-decoration: none;
  background-color: orangered;
  width: 50%;
}