.showPlayButton {
  border: none;
  background-color: orangered;
  padding: 10px;
  color: white;
  margin: 20px;
}

.userTracksFlex {
  display: flex;
}

#waveform {
  width: 100%;
  min-height: 8rem;
  padding: 0.5rem 0;

  border: solid 2px #090909;
  margin-right: 20px;
  margin-bottom: 20px
}

#showTrackTitle {
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.showTrack{
  border: black solid 1px;

}

.settings{
  display: flex;
  justify-content: space-between;
}

.waveformContainer{
  display: flex;
  align-items: center;

}

.volume-slider{
  margin: 0 1rem;
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: orangered;
}

